body{
background-color: whitesmoke;
}
.container{
    text-align: center;

}
.p{
    text-decoration-line: underline ;
    font-size: larger;
    text-underline-offset: 10px;
    text-decoration-color: cornflowerblue ;
}
.total-counts{
    border: 1px solid black;
    border: none;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 300px;
    height: 60px;
    margin: auto;
    overflow: hidden;
}
.left{
    display: flex;
    height: 100%;
    width: 100%;

}
.right{
    height: 100%;
    width: 100%;
}
.img1{
height: 70%;
margin-top: -2px;

}
.post{ 
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    display: grid;
    grid-template-rows: .8fr 1fr 1fr;
    width: 300px;
    margin: auto;
    height: 350px;
}
.up{
    display: flex;
    height: 60px;
}
#img2{
    height: 100%;

}
button{
    width: 90%;
    height: 29px;
    border-radius: 20px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#img-post{
    border-radius: 20px;
    width: 90%;
}
header{
    font-size: xx-large;
}